<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="basstyle.css" />
    <title>Basic List</title>
  </head>
  <body>
    <nav class="nav-con">
      <div class="nav-wrap">
        <h2>목차</h2>
        <a href="/"><img src="/asset/icons/home.png" alt="" /></a>
      </div>
      <ul class="nav_list">
        <a href="/" class="list-wrap">[1] 바닐라 JS 기본</a>
        <li class="nav-cont"><a href="../../components/basic/variables/variables.html">1. 변수</a></li>
      </ul>
    </nav>
    <section class="blog-con">
      <h2>Basic</h2>
    </section>
  </body>
</html>
